h1{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

.HHHH{
    background-color: red;
    height: 100px;
    width: 200px;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    border: solid black 20px;
    




}